@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Light';
  src: 
  url('/SF-Pro-Display/sf-pro-display-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Regular';
  src: 
  url('/SF-Pro-Display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Bold';
  src: 
  url('/SF-Pro-Display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.regular-fonts{
  font-family: 'SF Pro Regular', sans-serif;
  letter-spacing: 0.1px;
}

.light-fonts{
  font-family: 'SF Pro Light', sans-serif;
}

.bold-fonts{
  font-family: 'SF Pro Bold', sans-serif;
}

::selection{
  color: royalblue;
}

.custom-margin-help{
  margin-right: 110px !important;
}

.custom-margin-accessories{
  margin-right: 220px !important;
}